Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
depcomp
install-sh
missing
src/Makefile.in
Makefile
config.h
config.log
config.status
src/.deps/
src/Makefile
src/bwm-ng
src/bwm-ng.o
src/curses_tools.o
src/help.o
src/netstat.o
src/options.o
src/output.o
src/proc_diskstats.o
src/proc_net_dev.o
src/process.o
src/retrieve.o
stamp-h1
src/libstatgrab.o
